body{
    text-align: center;
}
img{
    width: 250px;
    height: 350px;
    display: block;
    margin-left: 36%;
}

button{
    border-radius: 15px;
    border: none;
    display: block;
    float: left;
    padding: 8px;
    background: darkgray;
    color: white;
    cursor: pointer;
}
button:hover{
    background: gray;
    outline: none;
}